.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

html body {
    font-family: 'Nunito', sans-serif;
}

.navbar-item-text {
    font-family: 'Nunito', sans-serif;
    font-size: 1.125em;
}

@media screen and (min-width: 768px) {
    .is-paddingless-tablet {
        padding: 0% !important;
    }
}

.hero-text {
    font-size: 2.2em !important;
}